@import './main.css';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

header{
   background-image: url(../public/images/background-top.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding-bottom: 150px;
   overflow: hidden;
}

footer{
    background-image: url(../public/images/footer-bg.png);
    /* padding-bottom: 500px; */
    background-repeat: no-repeat;
    background-size: cover;
}






