.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 150px;
    #nav-check{
        display: none;
    }

    label {
        display: none;
    }


    .nav-links {
        display: flex;
        align-items: center;
        gap: 82px;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 36px;

            a {
                text-decoration: none;
                color: #8794ba;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                padding: 5px;
            }
        }
    }

    .sign {
        display: flex;
        align-items: center;
        gap: 40px;

        a {
            text-decoration: none;
            color: #8794ba;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
        }

        

        &>:nth-child(2) {

            height: 40px;
            padding: 10px 53px;
            align-items: center;
            gap: 10px;
            border-radius: 68px;
            border: 1px solid #465B95;
        }

        
    }

    
}

@media(max-width:1120px){
    .navbar{
        flex-direction: column;
        gap: 20px;
        
        .nav-links{
            ul{
                flex-wrap: wrap;
            }
        }
    }
}



@media (max-width:480px){

    header{
        &>img{
            display: none;
        }
    }
    .navbar{
        flex-direction: row;
        padding: 20px;
        label{
            display: inline-block;
        }

        .nav-links{
            ul{
                position: absolute;
                top: 60px;
                width: 90vw;
                height: 80vh;
                padding-top: 30px;
                padding-left: 30px;
                top: 15%;
                background-color: red;
                border-radius: 10px;
                
            
                display: none;

            }
        }

        .sign {
            gap: 18px;
            :nth-child(2){
                display: none;
            }
        }

        #nav-check:checked+.nav-links>ul{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            display: fixed;
        }

        #nav-check:checked+.nav-links>ul a{
            font-size: 20px;
            color: #fff;

        }
    }
}